#Bar {
    background-color: #000000;
    
    height: auto;
    border: 1px solid #000000;
    border-radius: 8px;
    margin: 25px;
    position: fixed;
    top: 0;
    padding-top: 0px;
    margin-top: 0px; 
    margin-bottom: 5rem;
     
}

#link {
    color: #fafafa;
    margin: 10px;




}

#linkRed {
    color: #e01414;


}

#Name-of-cinema {
    color: #fafafa;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    text-decoration: none;
}

.vl {
    border-left: 2px solid #fafafa;
    height: 25px;
    align-self: center;
}

#cinemaLogo {
    border: 1px none #000;
    border-radius: 8px;
    margin: 5px;
    
}

 .navbar-light .navbar-toggler-icon
 {
    background-image: 
    url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%28224, 0, 20, 1%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e");
 
 }
 .navbar-light .navbar-toggler
 {
    border: 1px solid #e01414;
 }