#carouselCol {
   background-color: black;
   padding: 10px;

}

#informationCol{
    background-color: black;
    padding: 10px;
}

#buttongroupDetail {
    display: flex;
    flex-wrap: wrap;
    margin-right: 5rem;
    margin-left: 5rem;
    justify-content: center;
}

#showTimeAndCapacityDiv{
    margin-bottom: 1rem;
}

#button {
    width: 90% ; 
    margin-bottom: 5px;

}

#progressbar{
    max-width: 90%;
    background-color: #a9a9a9 !important;
    color: #E01414 !important;
    margin-left: 16px;
}

h1 {
    text-align: left;
    font-family: Inter;
    font-size: 3rem;
}

#icons {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    flex-wrap: wrap;

}

#bodytext {
    text-align: left;
    padding-bottom: 2rem;
    padding-right: 1.9rem;
    font-family: Intern;
    font-size: 1.5rem;
}

#icondescription {
    font-family: Inter;
    font-size: 1.5rem;
    margin-left: 0.3rem;
    padding-bottom: 0.2rem;
}

#icondescription a {
    text-decoration: none;
    color: #FFF;
}

#backgroundCard{
    background-color: black;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
#link{
    text-align: left;
}
