
#bg {
    background-image: url("../kino-frontcover.jpg");

    /* Full height */
    height: 350px; 
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 25px solid black;
    border-radius: 10px;
    margin-top: 5rem;
  
  }

  #headline {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    font-family: Inter;
  }

  #searchbarField{

    width: 100%;
    background-color: #1d1d1d;
    border: none;
    color: white;
    border-radius: 6px;


  }
  #searchbarForm
  {
    background-color: #000000;
    padding: 1%;
    border-radius: 8px;
    
  }
  #searchbar
  {
    margin-top: 2%;
  }